<div class="card">
  <div class="card-header">About {{author.name}}</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        {% if author.avatar_url %}
        <img
          class="author-profile-img"
          src="/assets/img/authors/{{author.avatar_url}}"
          alt="{{author.name}}"
        />
        {% else %}
        <img
          class="author-profile-img"
          src="{{site.url}}/assets/img/authors/{{author.avatar}}"
          alt="{{author.name}}"
        />
        {% endif %}
      </div>
      <div class="col-md-6">
        <p class="author_bio">{{author.bio}}</p>
        <p>Email : {{author.email}}</p>
        <p>Website : {{author.site}}</p>
      </div>
    </div>
  </div>
</div>
