<section id="recent-articles">
  <div id="recent-articles-header">
    <div id="recent-articles-title">
      <h1 class="card-title">Projects</h1>
    </div>
  </div>
  <br />

  <ul>
    {% for project in site.author_project_details %} {% if project.visibility ==
    true %}
    <div class="row" id="project-card">
      <div class="col-md-6">
        <img
          src="{{site.url}}{{site.baseurl}}/assets/img/{{project.project_thumbnail}}"
          class="project-img"
        />
      </div>
      <div class="col-md-4 center">
        <h4 class="experience-title">{{ project.project_title }}</h4>
        <h6 class="experience-info">{{ project.project_info}}</h6>
        <p class="experience-desc">{{ project.project_description }}</p>
        <p>
          <a class="project-link" href="{{project.project_url}}"
            >{{ project.project_url}}</a
          >
        </p>
      </div>
    </div>
    <br />
    {% endif %} {% endfor %}
  </ul>
</section>

<li class="article-card">
  <a href="{{post.url}}" class="article-card-link">
    <div id="article-container">
      <div id="article-img">
        {% if post.author %} {% assign author = post.author %} {% if author %}
        {% assign author_data = site.data.authors[author] %}
        <img
          src="{{site.url}}{{site.baseurl}}/assets/img/authors/{{author_data.avatar}}"
          width="50px"
          height="50px"
        />
        {% endif %} {% endif %}
      </div>
      <div id="article-link">
        <p class="recent-article-link">
          {{post.title}}
          <span style="color: #ccc; font-size: 15px">
            <br />
          </span>
        </p>
      </div>
      <div id="article-alert">
        {% for cat in post.category limit:1 %}
        <button class="btn btn-sm btn-dark">{{cat}}</button>
        {% endfor %}
      </div>
    </div>
  </a>
</li>
