<section id="recent-articles">
  <div id="recent-articles-header">
    <div id="recent-articles-title">
      <h1 class="card-title">Projects</h1>
    </div>
  </div>
  <br />

  <ul>
    {% for project in site.author_project_details %} {% if project.visibility ==
    true %}
    <li class="article-card">
      <a href="{{project.project_url}}" class="article-card-link">
        <div id="article-container">
          <div id="article-img">
            <img
              src="{{site.url}}{{site.baseurl}}/assets/img/{{project.project_thumbnail}}"
              class="project-img"
            />
          </div>
          <div id="article-link">
            <p class="recent-article-link">
              {{ project.project_title }}
              <span style="color: #ccc; font-size: 15px">
                <br />
                {{ project.project_description }}
              </span>
            </p>
          </div>
        </div>
      </a>
    </li>
    {% endif %} {% endfor %}
  </ul>
</section>
