<section id="recent-articles">
  <div id="recent-articles-header">
    <div id="recent-articles-title">
      <h1 class="card-title">Link to Projects</h1>
    </div>
  </div>
  <br />

  <ul>
    {% for post in site.posts limit:5 %} {% if site.show_author_project_details
    == true %}
    <div id="author_projects" class="card">
      <h1 class="card-title">Projects</h1>
      <br />
      {% for project in site.author_project_details %} {% if project.visibility
      == true %}
      <div class="row" id="project-card">
        <div class="col-md-6">
          <img
            src="{{site.url}}{{site.baseurl}}/assets/img/{{project.project_thumbnail}}"
            class="project-img"
          />
        </div>
        <div class="col-md-4 center">
          <h4 class="experience-title">{{ project.project_title }}</h4>
          <h6 class="experience-info">{{ project.project_info}}</h6>
          <p class="experience-desc">{{ project.project_description }}</p>
          <p>
            <a class="project-link" href="{{project.project_url}}"
              >{{ project.project_url}}</a
            >
          </p>
        </div>
      </div>
      <br />
      {% endif %} {% endfor %}
    </div>
    {% endif %} {% endfor %}
  </ul>
</section>
